Package: nginx-light-dbg
Source: nginx
Version: 1.10.0-azet-modsecurity-01
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2693
Depends: nginx-light (= 1.10.0-azet-modsecurity-01)
Conflicts: nginx-core-dbg, nginx-extras-dbg, nginx-full-dbg
Section: debug
Priority: extra
Homepage: http://nginx.net
Description: nginx web/proxy server (basic version) - debugging symbols
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This package provides debugging symbols for nginx-light, to assist in
 debugging issues that you may find. It should not be required for normal
 operation.
Build-Ids: af052506931e31dac639c81d727bab6bc1923ef6
Original-Maintainer: Kartik Mistry <kartik@debian.org>
