Package: nginx-extras
Source: nginx
Version: 1.10.0-azet-modsecurity-01
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1855
Depends: nginx-common (= 1.10.0-azet-modsecurity-01), perl (>= 5.22.1-9), perlapi-5.22.1, libc6 (>= 2.14), libexpat1 (>= 2.0.1), libgd3 (>= 2.1.0~alpha~), libgeoip1, liblua5.1-0, libpam0g (>= 0.99.7.1), libpcre3, libperl5.22 (>= 5.22.1), libssl1.0.0 (>= 1.0.2~beta3), libxml2 (>= 2.7.4), libxslt1.1 (>= 1.1.25), zlib1g (>= 1:1.1.4)
Suggests: nginx-doc (= 1.10.0-azet-modsecurity-01)
Conflicts: nginx-core, nginx-full, nginx-light
Breaks: nginx (<< 1.4.5-1)
Provides: httpd, httpd-cgi, nginx
Section: httpd
Priority: extra
Homepage: http://nginx.net
Description: nginx web/proxy server (extended version)
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This package provides a version of nginx with the standard modules, plus
 extra features and modules such as the Perl module, which allows the
 addition of Perl in configuration files.
 .
 STANDARD HTTP MODULES: Core, Access, Auth Basic, Auto Index, Browser, Empty
 GIF, FastCGI, Geo, Limit Connections, Limit Requests, Map, Memcached, Proxy,
 Referer, Rewrite, SCGI, Split Clients, UWSGI.
 .
 OPTIONAL HTTP MODULES: Addition, Auth Request, Charset, WebDAV, FLV, GeoIP,
 Gunzip, Gzip, Gzip Precompression, Headers, HTTP/2, Image Filter, Index, Log,
 MP4, Embedded Perl, Random Index, Real IP, Secure Link, SSI, SSL, Stream,
 Stub Status, Substitution, Thread Pool, Upstream, User ID, XSLT.
 .
 MAIL MODULES: Mail Core, Auth HTTP, Proxy, SSL, IMAP, POP3, SMTP.
 .
 THIRD PARTY MODULES: Auth PAM, Cache Purge, DAV Ext, Echo, Fancy Index,
 Headers More, Embedded Lua, HTTP Push, HTTP Substitutions, Upload Progress,
 Upstream Fair Queue.
Original-Maintainer: Kartik Mistry <kartik@debian.org>
